body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes glowing {
  0% {
    background-color: #000000 !important;
    color: #000000 !important;
    box-shadow: 0 0 3px #000000;
  }

  50% {
    background-color: #ffffffbc !important;
    color: #ffffffbc !important;
    box-shadow: 0 0 8px #ffffffbc;
  }

  100% {
    background-color: #000000 !important;
    color: #000000 !important;
    box-shadow: 0 0 3px #000000;
  }
}